[submodule "third_part/googletest"]
	path = third_part/googletest
	url = https://gitee.com/yinchengwang_admin/googletest.git
[submodule "reference/vector/faiss"]
	path = reference/vector/faiss
	url = https://gitee.com/yinchengwang_admin/faiss.git
[submodule "reference/key-value/redis"]
	path = reference/key-value/redis
	url = https://gitee.com/yinchengwang_admin/redis.git
[submodule "reference/extension/pgvector"]
	path = reference/extension/pgvector
	url = https://gitee.com/yinchengwang_admin/pgvector.git
[submodule "reference/relational/postgres"]
	path = reference/relational/postgres
	url = https://github.com/postgres/postgres.git
[submodule "reference/relational/sqlite3"]
	path = reference/relational/sqlite3
	url = https://github.com/sqlite/sqlite.git
# [submodule "reference/search/elasticsearch"]
# 	path = reference/search/elasticsearch
# 	url = https://gitee.com/yinchengwang_admin/elasticsearch.git
[submodule "reference/vector/chroma"]
	path = reference/vector/chroma
	url = https://github.com/chroma-core/chroma.git
# [submodule "reference/vector/milvus"]
# 	path = reference/vector/milvus
# 	url = https://github.com/milvus-io/milvus.git
# [submodule "reference/benchmark/ann-benchmarks"]
# 	path = reference/benchmark/ann-benchmarks
# 	url = https://gitee.com/yinchengwang_admin/ann-benchmarks.git
[submodule "reference/graph/neo4j"]
	path = reference/graph/neo4j
	url = https://github.com/neo4j/neo4j.git
# [submodule "reference/relational/openGauss"]
# 	path = reference/relational/openGauss
# 	url = https://gitee.com/opengauss/openGauss-server.git
# [submodule "reference/relational/mysql"]
# 	path = reference/relational/mysql
# 	url = https://gitee.com/yinchengwang_admin/mysql-server.git
[submodule "reference/search/elasticsearch"]
	path = reference/search/elasticsearch
	url = https://gitee.com/yinchengwang_admin/elasticsearch.git
[submodule "reference/benchmark/ann-benchmarks"]
	path = reference/benchmark/ann-benchmarks
	url = https://gitee.com/yinchengwang_admin/ann-benchmarks.git
[submodule "reference/relational/openGauss"]
	path = reference/relational/openGauss
	url = https://gitee.com/opengauss/openGauss-server.git
[submodule "reference/vector/milvus"]
	path = reference/vector/milvus
	url = https://gitee.com/milvus-io/milvus.git
